<div class="container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="user-info">
      <img src="avatar.png" alt="User Avatar" />
      <div>
        <h3>Nguyen Minh Chau</h3>
        <p>ItAdmin</p>
      </div>
    </div>
    <nav class="menu">
      <ul>
        <li class="active"><i class="fas fa-users"></i> Quản lý Status</li>
        <li>
          <i class="fas fa-building"></i
          ><a href="/task" class="link">Quản lý Task</a>
        </li>
        <li>
          <i class="fas fa-briefcase"></i>
          <a href="/subtask" class="link">Quản lý SubTask</a>
        </li>
      </ul>
    </nav>
    <button class="logout">
      <i class="fas fa-sign-out-alt"></i> Đăng xuất
    </button>
  </aside>
  <!-- Main Content -->
  <main class="main-content">
    <section class="filter-section">
      <div class="filter-form">
        <button class="search-btn" (click)="showForm()">
          <i class="fas fa-search"></i> Tạo mới Status
        </button>
      </div>
    </section>
    <section class="table-section">
      <h2>Danh sách status</h2>
      <table>
        <thead>
          <tr>
            <th>Status index</th>
            <th>Tên Status</th>
            <th>Mô Tả</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr>
            <td colspan="6" class="no-data">Không có dữ liệu</td>
          </tr> -->
          <tr *ngFor="let status of Status; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ status.title }}</td>
            <td>{{ status.description }}</td>
            <td>
              <button class="delete-btn" (click)="deleteStatus(status.id)">
                Xóa
              </button>
              <button class="edit-btn" (click)="getStatusById(status.id)">
                Cập nhật
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <div *ngIf="boolean" class="overlay">
      <form [formGroup]="statusForm" *ngIf="boolean == true" class="form">
        <h3>Tạo mới status</h3>
        <label for="status">Status:</label>
        <input
          type="text"
          formControlName="title"
          id="status"
          name="status"
          required
        />
        <div
          *ngIf="
            statusForm.get('title')?.hasError('required') &&
            statusForm.get('title')?.touched
          "
        >
          <small class="text-danger"
            >*Đây là trường dữ liệu bắt buộc nhập</small
          >
        </div>
        <label for="description">Description:</label>
        <input
          type="text"
          formControlName="description"
          id="description"
          name="description"
          required
        />
        <div
          *ngIf="
            statusForm.get('description')?.hasError('required') &&
            statusForm.get('description')?.touched
          "
        >
          <small class="text-danger"
            >*Đây là trường dữ liệu bắt buộc nhập</small
          >
        </div>
        <button (click)="createStatus()" type="submit">Submit</button>
        <button class="delete-btn" (click)="hideForm()" type="submit">
          Hủy
        </button>
      </form>
    </div>
    <div *ngIf="status.id != 0" class="overlay">
      <form
        [formGroup]="updateForm"
        *ngIf="status.id != 0 || boolean == true"
        class="form"
      >
        <h4>Form Cập nhật</h4>
        <label for="status">Status:</label>
        <input
          type="text"
          formControlName="title"
          id="status"
          name="status"
          [(ngModel)]="status.title"
          required
        />
        <div
          *ngIf="
            statusForm.get('title')?.hasError('required') &&
            statusForm.get('title')?.touched
          "
        >
          <small class="text-danger"
            >*Đây là trường dữ liệu bắt buộc nhập</small
          >
        </div>
        <label for="description">Description:</label>
        <input
          type="text"
          formControlName="description"
          id="description"
          name="description"
          [(ngModel)]="status.description"
          required
        />
        <div
          *ngIf="
            statusForm.get('description')?.hasError('required') &&
            statusForm.get('description')?.touched
          "
        >
          <small class="text-danger"
            >*Đây là trường dữ liệu bắt buộc nhập</small
          >
        </div>
        <button (click)="updateStatus(status.id)" type="submit">Submit</button>
        <button class="delete-btn" (click)="hideForm()" type="submit">
          Hủy
        </button>
      </form>
    </div>
  </main>
</div>
